@tailwind base;
@tailwind components;
@tailwind utilities;

/* form css */
.errDiv {
  margin-top: 20px;
}

.errDiv span {
  color: red;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn_Outer_Div {
  padding: 50px 15px;
  position: relative;
  z-index: 1;
}
.sign_In_Shape img {
  position: absolute;
  z-index: -1;
}
.sign_In_Inner {
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign_In_Heading {
  margin-bottom: 40px;
  text-align: center;
}
.sign_In_Heading h2 {
  font-size: clamp(1.625rem, 1.3958rem + 1.2222vw, 2.3125rem);
  margin-bottom: 3px;
  line-height: 1.2;
}
.sign_In_Heading p {
  color: gray;
  font-weight: normal;
  margin-bottom: 15px;
}
.sign_In_Lower {
  width: 42%;
}
.sign_In_Wrapper {
  padding: 50px;
  padding-bottom: 45px;
  margin: 0 30px;
  border-radius: 10px;
  box-shadow: 0px 40px 80px 0px rgba(2, 2, 26, 0.14);
  background-color: white;
}

.sign_In_Google::after {
  position: absolute;
  content: "";
  left: -55%;
  top: 45%;
  transform: translateY(-50%);
  height: 220px;
  width: 220px;
  background-color: #e93e30;
  border-radius: 50%;
  z-index: -1;
}

.sign_In_Input_Outer {
  margin-bottom: 25px;
}
.sign_In_Input_Outer label {
  font-size: 16px;
  display: inline-block;
  color: gray;
  margin-bottom: 20px;
  line-height: 1.2;
}
.sign_In_Input {
  position: relative;
}
.sign_In_Input input:focus {
  background-color: white;
}
.sign_In_Input input {
  width: 100%;
  height: 60px;
  line-height: 52px;
  padding: 0 50px;
  font-size: 14px;
  border: 2px solid transparent;
  background: #f5f6f8;
  color: black;
  border-radius: 6px;
}
.sign_In_Input i {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  left: 25px;
  font-size: 14px;
  color: #8e8c94;
}
.signInSubmitBtn {
  width: 100%;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #3d6ce7;
  padding: 10px 30px;
  transition: 0.3s all ease-in-out;
}

.signInSubmitBtn:hover {
  background-color: #0f1a35;
}

/* keyframes */
@keyframes dot {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1025px) and (max-width: 12200px) {
  .man1 {
    left: 19%;
    top: 60%;
    z-index: 1;
  }
  .man2 {
    top: 60%;
    right: 18%;
  }
  .circle {
    right: 20%;
    top: 38%;
    animation: circle 5s linear 0s infinite alternate;
    -webkit-animation: circle 5s linear 0s infinite alternate;
  }
  .zigzag {
    left: 24%;
    top: 43%;
  }
  .dot {
    right: 26%;
    top: 43%;
    animation: dot 5s linear 0s infinite alternate;
    -webkit-animation: dot 5s linear 0s infinite alternate;
  }
  .sign_Up {
    left: 33%;
    top: 26%;
    opacity: 0.06;
    max-width: 100%;
  }
  .flower {
    right: 24%;
    bottom: 13%;
  }
}

@media (max-width: 768px) {
  .sign_In_Action {
    flex-direction: column;
    align-items: center;
  }
  .sign_In_Wrapper {
    margin: 0px;
  }
  .man1 {
    left: 19%;
    top: 60%;
    z-index: 1;
  }
  .man2 {
    top: 60%;
    right: 18%;
  }
  .circle {
    right: 20%;
    top: 38%;
    animation: circle 5s linear 0s infinite alternate;
    -webkit-animation: circle 5s linear 0s infinite alternate;
  }
  .zigzag {
    left: 24%;
    top: 43%;
  }
  .dot {
    right: 26%;
    top: 43%;
    animation: dot 5s linear 0s infinite alternate;
    -webkit-animation: dot 5s linear 0s infinite alternate;
  }
  .sign_Up {
    top: 26%;
    opacity: 0.06;
    max-width: 100%;
  }
  .flower {
    right: 24%;
    bottom: 13%;
  }
  .sign_In_Lower {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .man1 {
    display: none;
  }
  .man2 {
    display: none;
  }
  .circle {
    display: none;
  }
  .zigzag {
    display: none;
  }
  .dot {
    display: none;
  }
  .sign_Up {
    display: none;
  }
  .flower {
    display: none;
  }
  .sign_In_Lower {
    width: 100%;
  }
}

/*  SLider Arrows Css HERE ============================ */
/* icons css  */

#slickBtnNext {
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateX(-50%);
}

#slickBtnPrev {
  position: absolute;
  z-index: 99;
  left: -100px;
  top: 50%;
  transform: translateX(50%);
}

/* hero burron lick ------------- */
.globalShadow {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.432);
  transition: all 0.3s ease-in;
}

.globalShadow:hover {
  box-shadow: 0 0 8px rgba(2, 2, 26, 0.14);
}

/* Navbar Transiotn ==================== */
#layer {
  /* Set initial width */
  width: 0;
  /* Set transition property and duration */
  transition: width 0.3s ease;
}

#layer.expanded {
  /* Change width to 100% when the "expanded" class is present */
  width: 100%;
}

/* Price card css =========================================== */

.maxPad {
  max-width: 1200px;
  padding: 50px 15px;
  margin: auto;
}

.parentPrice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .parentPrice {
    grid-template-columns: 1fr;
  }
}

.priceMain {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.priceContentDiv {
  position: absolute;

  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.276);
  backdrop-filter: blur(10px);
  transition: 0.3s all ease-in-out;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.priceContentDiv h2 {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}
.priceContentDiv p {
  color: white;
  font-size: 17px;
}
.priceContentDiv span {
  margin-top: 10px;
  color: white;
  border-radius: 10px;
  padding: 2px 15px;
  background: rgb(95, 56, 123);
}

.priceMain:hover .priceContentDiv {
  left: 0;
}

.priceMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .parentPrice {
    grid-template-columns: 1fr;
  }

  .priceContentDiv h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .priceContentDiv p {
    font-size: 11px;
  }

  .priceContentDiv span {
    margin-top: 4px;
    font-size: 10px;
  }
}


.navlinkRouter{
  border-bottom:1px solid black;
}